*{
  margin: 0%;
}

h2 {
  margin: 0;
}
h3{
  margin: 0;
}
nav{
  background-color: #dfb2b2;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}
nav  a:hover{
  color: #6b4949;
}


video{
  float: left;
  display: block;
  margin: auto auto;
  width: 33.33%;
  filter: grayscale();
  
}
/* .video1{
  display: block;
  margin: 0 auto;
  width: min-content;
} */


/* .back-video{
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -100;
} */

/**.background {
    /* The image used */
    /* background-image: url("infoBackground.jpg"); */
  
    /* Full height */
    /* height: 100%;  */
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* } */

@font-face {
    font-family: TANPerl-Logo;
    src: url("../media/fonts/TAN-PEARL.woff");
}
@font-face {
    font-family: Creattion-Demo;
    src: url('../media/fonts/Creattion-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.logo{
  text-align: center;
  font-weight: 10;
  color: white;
  font-size: 65px;
  font-family: TANPerl-Logo;
  padding-top: 10px;
  padding-bottom: 0px;
  
}
.byMannatVij{
  text-align: center;
  font-weight: 10;
  color: white;
  font-size: 39px;
  font-family: Creattion-Demo;
  margin-top: -38px;
  padding-bottom: 10px;
}

  /* .collection{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 100px 
  } */

footer{
  display: block;
  background-color: #dfb2b2;
}

.footerContaier{
  width: 100%;
  padding: 70px 20px 30px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  opacity: 0.5;
  /* border-style: solid; */
  /* border-color: white; */

}
.socialIcons a i{
  font-size: 2em;
  color : white;
  opacity: 0.9;
}

  /* Hover effect */
.socialIcons a:hover{
  /* background-color: white; */
  transition: 0.5s;
  /* border-width: 3px; */
  opacity: 2;

}

/* .socialIcons a:hover i{
  opacity: 1;
  /* background-color: #dfb2b2; */
  /* transition: 0.5s; */

/* } */ */

.footerNav{
   margin: 30px 0;
}
.footerNav ul{
  padding-left: 0%;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a{
  font-family: TANPerl-Logo;
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}


.footerNav ul li a:hover{
  opacity: 1;
  color: #6b4949;
}

.footerBottom{
  background-color: #dfb2b2;
  padding: 20px;
  text-align: center;
}

.footerBottom p{
  color: white;
}

.designer{
  font-family: TANPerl-Logo;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;

}


@media (max-width:700px) {
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li{
    width: 100%;
    text-align: center;
    margin :10px;
  }
  
}
@media (max-width: 480px) {
  video{
    float: left;
    display: block;
    margin: auto auto;
    width: 100%;
    filter: grayscale();
  }
}